{% extends "base.html" %}
{% block content %}
<div class="headerband" id="banner">
    <div class="row">
        <div class="container">
            <div class="col-lg-6 col-md-6 col-sm-6" style="text-align: center;">
		<div style="padding-top: 20px;">
		<div>
	        <img src="theme/images/assets/cgran-penpar.png">
	        </div>
	        </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6" style="text-align: center;">
                <h1 style="font-size: 54px; color: #fd6b5c">CGRAN</h1>
		<p class="lead" style="padding-top: 30px;">
		The Comprehensive GNU Radio Archive Network (CGRAN) is a free
	       	open source repository for 3rd party GNU Radio applications
	      	a.k.a Out Of Tree Modules that are not officially supported by
	       	the GNU Radio project.
		</p>
		<a href="#gr-table" 
			class="btn btn-sup btn-material-deeppurple" 
			style="color: #757575;">
			<i class="fa fa-database"></i>
		    <span>Explore GR-OOT Modules</span>
	            <div class="ripple-wrapper"></div>
	        </a>
                        </div>
        </div>
    </div>
</div>
<div style="background: #FFF8E1" id="headimage">
<div class="row" style="padding-top: 30px; padding-bottom: 15px;">
    <div class="container">
        <div class="col-lg-6 col-md-6 col-sm-6">
	    <div class="row">
	    <div class="col-md-3" style="padding-top: 25px;" id="headimage">
            <img src="theme/images/assets/circlebombs.png">
	    </div>
	    <div class="col-md-9">	
	    <p class="lead" style="padding-top: 30px; color: #757575;">
	    GNU Radio is a free software development toolkit that provides 
	    signal processing blocks to implement software-defined radios and 
	    signal processing systems. 
	    </p>
            </div>
            </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6">
            <div class="row">
            <div class="col-md-3" style="padding-top: 25px;" id="headimage">
            <img src="theme/images/assets/circlebombs.png">
	    </div>
	    <div class="col-md-9">
	    <p class="lead" style="padding-top: 30px; color: #757575">
	    PyBOMBS is the GNU Radio install management system for resolving
	    dependencies and pulling in out-of-tree projects.
	    </p>
            </div>
        </div>
        </div>
    </div>
</div>
</div>
<div style="background: #fff;">
<div class="container" id="gr-table">
    <div style="text-align: center;">	    
    <h2>Browse~Checkout~Hack</h2>
    </div>

    <table data-toggle="table"
        data-sort-name="name" data-sort-order="desc"
        data-cache="true"
        data-search="true"
        data-show-refresh="true"
        data-show-toggle="true"
        data-show-columns="true"
        class="table table-striped borderless">
    <thead>
        <tr>
            <th data-field="name" data-sortable="true">Name</th>
            <th class="hidden-xs" data-field="type" data-sortable="true">Tags</th>
            <th data-field="description" data-sortable="true">Description</th>
            <th class="hidden-xs hidden-sm" data-field="repo" data-sortable="true">Repository</th>
        </tr>
    </thead>
    <tbody>
    {% for module in pages %}
    {% if module.category == "oot_modules" %}
        <tr>
            <td>
                <a href="{{ module.url }}">
                    {{ module.title }}
                </a>
            </td>
            <td class="hidden-xs">
                {% if module.tags is iterable and module.tags is not string %}
                  {% for tag in module.tags %}
                    {% if not loop.last %}
                    {{ tag }},
                    {% else %}
                    {{ tag }}
                    {% endif %}
                  {% endfor %}
                {% else %}
                    {{ module.tags }}
                {% endif %}

            </td>
            <td>
                {{ module.brief }}
            </td>
            <td class="hidden-xs hidden-sm">
                <a href="{{ module.repo }}">
                    {{ module.repo }}
                </a>
            </td>
        </tr>
    {% endif %}
    {% endfor %}
    </tbody>
    </table>
</div>
</div>
{% endblock %}
