{% extends "base.html" %}
{% block content %}
<div class="container" style="text-align: center; padding-top: 30px;
        padding bottom: 20px;">
    <h1>OOTs extends GNU Radio's capabilities</h2>
    <div class="form-group" style="padding-bottom: 40px; padding-top: 40px;">
        <input class="form-control floating-label" id="focusedInput"
        type="text" placeholder="Search for OOT's">
    </div>
</div>
<div class="container">
    {% for module in pages %}
    {% if module.category == "oot_modules" %}
    <div class="row">
            <div class="well infobox">
                <h3>{{ module.title }}</h3>
                <p class="lead">
                    {{ module.description }}
                    {{ module.category }}
                </p>
            </div>
    </div>
    {% endif %}
    {% endfor %}
</div>
{% endblock %}
