.status-badge {
    box-sizing: border-box;
    background-color: tomato;
    color: snow;
    padding-left: 5px;
    padding-top: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
}
.btn-group {
    box-shadow: none;
}
table.borderless td,table.borderless th{
     border: none;
}
.fixed-table-container {
     border: none;
}
.highlight {
    padding-bottom: 30px;
    padding-top: 30px;
}
.pre {
    background-color: #fff;
    display: block;
    padding-top: 9.5px;
    padding-bottom: 9.5px;
    padding-left: 9.5px;
    padding-right: 9.5px;
    margin-top: 0px;
    margin-bottom: 10px;
    margin-right: 0px
    margin-left: 0px;
    line-height: 1.42857143;
    color: #333:
    word-break: break-all;
    word-wrap: break-word;
    border-radius: 4px;
    border: none;
}
.headertop{
    background-color: #fd6b5c;
    height: 5px;
}
.headerband{
    background-color: #f5f5f5;
    color: #757575;
    height: inherit;
    padding-top: 20px;
    padding-bottom: 20px;
}
.headband{
    background-color: #f5f5f5;
    height: inherit;
    padding-top: 30px;
    padding-bottom: 10px;
    color: #757575
}
html, body {
	overflow-x: hidden;
}
@media all and (max-width: 600px) {
    #headimage {
        display:none;
}
/* footerbottom like Neville Longbottom */
footerbottom {
    background-color: #ff5722;
    height: inherit;
    color: #fff;
    position: absolute;
    width: 100%;
    bottom: 0px;
}
/* ---- Pygments Style ---- */

.hll {
background-color:#FFFFCC;
}
.c {
color:#408090;
font-style:italic;
}
.err {
border:1px solid #FF0000;
}
.k {
color:#007020;
font-weight:bold;
}
.o {
color:#666666;
}
.cm {
color:#408090;
font-style:italic;
}
.cp {
color:#007020;
}
.c1 {
color:#408090;
font-style:italic;
}
.cs {
background-color:#FFF0F0;
color:#408090;
}
.gd {
color:#A00000;
}
.ge {
font-style:italic;
}
.gr {
color:#FF0000;
}
.gh {
color:#000080;
font-weight:bold;
}
.gi {
color:#00A000;
}
.go {
color:#303030;
}
.gp {
color:#C65D09;
font-weight:bold;
}
.gs {
font-weight:bold;
}
.gu {
color:#800080;
font-weight:bold;
}
.gt {
color:#0040D0;
}
.kc {
color:#007020;
font-weight:bold;
}
.kd {
color:#007020;
font-weight:bold;
}
.kn {
color:#007020;
font-weight:bold;
}
.kp {
color:#007020;
}
.kr {
color:#007020;
font-weight:bold;
}
.kt {
color:#902000;
}
.m {
color:#208050;
}
.s {
color:#4070A0;
}
.na {
color:#4070A0;
}
.nb {
color:#007020;
}
.nc {
color:#0E84B5;
font-weight:bold;
}
.no {
color:#60ADD5;
}
.nd {
color:#555555;
font-weight:bold;
}
.ni {
color:#D55537;
font-weight:bold;
}
.ne {
color:#007020;
}
.nf {
color:#06287E;
}
.nl {
color:#002070;
font-weight:bold;
}
.nn {
color:#0E84B5;
font-weight:bold;
}
.nt {
color:#062873;
font-weight:bold;
}
.nv {
color:#BB60D5;
}
.ow {
color:#007020;
font-weight:bold;
}
.w {
color:#BBBBBB;
}
.mf {
color:#208050;
}
.mh {
color:#208050;
}
.mi {
color:#208050;
}
.mo {
color:#208050;
}
.sb {
color:#4070A0;
}
.sc {
color:#4070A0;
}
.sd {
color:#4070A0;
font-style:italic;
}
.s2 {
color:#4070A0;
}
.se {
color:#4070A0;
font-weight:bold;
}
.sh {
color:#4070A0;
}
.si {
color:#70A0D0;
font-style:italic;
}
.sx {
color:#C65D09;
}
.sr {
color:#235388;
}
.s1 {
color:#4070A0;
}
.ss {
color:#517918;
}
.bp {
color:#007020;
}
.vc {
color:#BB60D5;
}
.vg {
color:#BB60D5;
}
.vi {
color:#BB60D5;
}
.il {
color:#208050;
}
