{% extends "base.html" %}
{% block content %}
<div class="headerband" id="banner">
  <div class="row">
    <div class="container">
      <div class="col-lg-6 col-md-6 col-sm-6" style="text-align: center;">
        <img src="theme/images/assets/cgran-penpar.png" width="50%"/>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-6" style="text-align: center;">
        <!-- <h1 style="font-size: 54px; color: #fd6b5c">CGRAN</h1> --!>
        <h3 style="color: #fd6b5c">The Comprehensive GNU Radio Archive Network</h3>
        <a data-toggle="collapse" href="#front-matter-detail" aria-expanded="false" aria-controls="front-matter-detail">
          <br>
          <h4 style="color: #fd6b5c">About</h4>
          <i class="fa fa-chevron-down fa-4x" style="color: #fd6b5c"></i>
        </a>
      </div>
    </div>
  </div>
</div>


<div class="headerband collapse" id="front-matter-detail">
  <div class="row">
    <div class="container">
      <p class="lead"  style="padding-top: 30px;">
        The Comprehensive GNU Radio Archive Network (CGRAN) is a free
        open source repository for 3rd party GNU Radio applications
        a.k.a Out Of Tree Modules that are not officially supported by
        the GNU Radio project.
      </p>
    </div>
  </div>

  <div style="background: #FFF8E1" id="headimage">
    <div class="row" style="padding-top: 15px; padding-bottom: 15px;">
      <div class="container">
        <div class="col-lg-6 col-md-6 col-sm-6">
          <div class="row">
            <div class="col-md-3" style="padding-top: 25px;" id="headimage">
              <a href="https://gnuradio.org/redmine/projects/gnuradio/wiki"><img class="img-responsive" src="theme/images/assets/gnuradio_logo_icon-square.png "></a>
            </div>
    	    <div class="col-md-9">	
            <p class="lead" style="padding-top: 30px; color: #757575;">
              GNU Radio is a free software development toolkit that provides 
              signal processing blocks to implement software-defined radios and 
              signal processing systems. 
              </p>
            </div>
          </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6">
          <div class="row">
            <div class="col-md-3" style="padding-top: 25px;" id="headimage">
              <a href="https://github.com/gnuradio/pybombs/"><img src="theme/images/assets/circlebombs.png"></a>
    	      </div>
            <div class="col-md-9">
              <p class="lead" style="padding-top: 30px; color: #757575">
                PyBOMBS is the GNU Radio install management system for resolving
                dependencies and pulling in out-of-tree projects.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div style="background: #fff; padding-bottom: 50px;">
<div class="container" id="gr-table">
    <div style="text-align: center; padding: 20px 0px 0px 0px">	    
    <a name="projects"><h2>Browse~Checkout~Hack</h2></a>
    </div>

    <table data-toggle="table"
        data-sort-name="description" data-sort-order="desc"
        data-cache="true"
        data-search="true"
        data-show-refresh="true"
        data-show-toggle="true"
        data-show-columns="true"
        class="table table-striped borderless">
    <thead>
        <tr>
            <th data-field="name" data-sortable="true">Name</th>
            <th class="hidden-xs" data-field="type" data-sortable="true">Tags</th>
            <th data-field="description" data-sortable="true">Description</th>
            <th class="hidden-xs hidden-sm" data-field="repo" data-sortable="true">Repository</th>
        </tr>
    </thead>
    <tbody>
    {% for module in pages %}
    {% if module.category == "oot_modules" %}
        <tr>
            <td>
                {% if module.url is string %}
                <a href="{{ module.url }}">
                    {{ module.title }}
                </a>
                {% else %}
                    {{ module.title }}
                {% endif %}
            </td>
            <td class="hidden-xs">
                {% if module.tags is iterable and module.tags is not string %}
                  {% for tag in module.tags %}
                  {% if tag is defined %}
                    {% if not loop.last %}
                    {{ tag }},
                    {% else %}
                    {{ tag }}
                    {% endif %}
                  {% endif %}
                  {% endfor %}
                {% elif module.tags is defined %}
                    {{ module.tags }}
                {% endif %}

            </td>
            <td>
              {% if module.brief is string %}
                {{ module.brief }}
              {% endif %}
            </td>
            <td class="hidden-xs hidden-sm">
                {% if module.repo is string %}
                <a href="{{ module.repo }}">
                    {{ module.repo }}
                </a>
                {% endif %}
            </td>
        </tr>
    {% endif %}
    {% endfor %}
    </tbody>
    </table>
</div>
</div>
{% endblock %}
