{% extends "base.html" %}
{% block content %}

<div class="headband" id="banner">
  <div class="container">
    <div class="row">
	<div class ="col-lg-12 col-md-12 col-sm-12">
        <div class="jumbotron">
          <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-3" id="headimage">
              {% if page.icon is defined %}
                {# URL of the OOT Module Logo to be provided in raw format #}
                <img class="img-responsive" src="{{ page.icon }}">
              {% else %}
                {# If no URL is provided, we just replace jasonlong with github 
                user name of the OOT Module author to automatically generate the
                identicon #}
                <img class="img-responsive" src="https://github.com/identicons/jasonlong.png">
              {% endif %}
            </div>
            <div class="col-lg-9 col-md-9 col-sm-9">
              <h2>{{ page.title }}</h2>
              {% if page.tags is iterable %}
              {% for tag in page.tags %}
                {% if tag is defined %}
                  <span class="status-badge">
                  {{ tag }}
                  </span> &nbsp;
                {% endif %}
              {% endfor %}
              {% endif %}
              <br/>
              <br/>

              <div class="row">
                <div class="col-md-3">
                <b>Developer</b>
                </div>
                <div class="col-md-6">
                {% if page.author is iterable and page.author is not string %}
                  {% for author in page.author %}
                    {% if author is defined %}
                    {% if not loop.last %}
                    {{ author }},
                    {% else %}
                    {{ author }}
                    {% endif %}
                    {% endif %}
                  {% endfor %}
                {% else %}
                    {{ page.author }}
                {% endif %}
                </div>
              </div>

              <div class="row">
                <div class="col-md-3">
                <b>Dependencies</b>
                </div>
                <div class="col-md-6">

                {% if page.dependencies is iterable and page.dependencies is not string %}
                  {% for dependency in page.dependencies %}
                    {% if not loop.last %}
                      {{ dependency }},
                    {% else %}
                      {{ dependency }}
                    {% endif %}
                  {% endfor %}
                {% else %}
                    {{ page.dependencies }}
                {% endif %}
                </div>
              </div>


              <div class="row">
                <div class="col-md-3">
                  <b>Repository</b>
                </div>
                <div class="col-md-6">
                  {% if page.repo is string %}
                  <a href="{{ page.repo }}">{{ page.repo }}</a>
                  {% endif %}
                </div>
              </div>


              <div class="row">
                <div class="col-md-3">
                  <b>Website</b>
                </div>
                <div class="col-md-6">
                  {% if page.website is string %}
                  <a href="{{ page.website }}">{{ page.website }}</a>
                  {% endif %}
                </div>
              </div>




              <div class="row">
                <div class="col-md-3">
                  <b>Copyright owner</b>
                </div>
                <div class="col-md-6">
                {% if page.copyright_owner is iterable and page.copyright_owner is not string %}
                  {% for copyright_owner in page.copyright_owner %}
                    {% if copyright_owner is defined %}
                    {% if not loop.last %}
                      {{ copyright_owner }},
                    {% else %}
                      {{ copyright_owner }}
                    {% endif %}
                    {% endif %}
                  {% endfor %}
                {% else%}
                    {{ page.copyright_owner }}
                {% endif %}
                </div>
              </div>

              <div class="row">
                <div class="col-md-3">
                  <b>Brief</b>
                </div>
                <div class="col-md-6">
                {% if page.brief is string %}
                  {{ page.brief }}
                {% endif %}
                </div>
              </div>

            </div>
          </div>
        </div>
    </div>
  </div>
</div>
<div>
<div style="background: #fff;">
  <div class="container lead">
    <h2 style="padding-bottom: 30px;">Module Info</h2>
    {{ page.content }}
  </div>
  </div>

{% endblock %}


